{% extends 'CwdAdminPortoBundle:Layout:default.html.twig' %}
{% block title %}Demo App{% endblock %}

{% block header %}
    {% embed 'CwdAdminPortoBundle:Section:header.html.twig' %}
        {% block logo %}
            <img src="{{ asset('bundles/pwdmgradmin/images/cwd.png') }}" height="35" alt="CWD" />
        {% endblock %}

        {% block currentuser %}
            <a href="#" data-toggle="dropdown">
                <figure class="profile-picture">
                    <img src="{{  app.user.username|gravatar(40) }}" alt="{{ app.user.firstname }} {{ app.user.lastname }}" class="img-circle" data-lock-picture="{{  app.user.username|gravatar(150) }}" />
                </figure>
                <div class="profile-info" data-lock-name="{{ app.user.firstname }} {{ app.user.lastname }}" data-lock-email="{{ app.user.email }}">
                    <span class="name">{{ app.user.firstname }} {{ app.user.lastname }}</span>
                    <span class="role">{{ app.user.roles.0 }}</span>
                </div>

                <i class="fa custom-caret"></i>
            </a>
        {% endblock %}

        {% block currentuser_menu %}
            <div class="dropdown-menu">
                <ul class="list-unstyled">
                    <li class="divider"></li>
                    <!--
                    <li>
                        <a role="menuitem" tabindex="-1" href="pages-user-profile.html"><i class="fa fa-user"></i> My Profile</a>
                    </li>
                    <li>
                        <a role="menuitem" tabindex="-1" href="#" data-lock-screen="true"><i class="fa fa-lock"></i> Lock Screen</a>
                    </li>
                    -->
                    <li>
                        <a role="menuitem" tabindex="2" href="{{ path('pwdmgr_admin_auth_profile') }}"><i class="fa fa-user"></i> Update profile</a>
                    </li>
                    <li>
                        <a role="menuitem" tabindex="2" href="{{ path('pwdmgr_admin_auth_updatesecretpassword') }}"><i class="fa fa-lock"></i> Change secret password</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a role="menuitem" tabindex="-1" href="{{ path('auth_logout') }}"><i class="fa fa-power-off"></i> Logout</a>
                    </li>
                </ul>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block sidebarLeft %}
    {% embed 'CwdAdminPortoBundle:Section:leftSidebar.html.twig' %}
        {% block topLeftSidebarWidget %}
                <nav id="menu2" class="nav-main" role="navigation">
                    {{ knp_menu_render('PwdMgrAdminBundle:Category:mainMenu', {'template': 'PwdMgrAdminBundle:Menu:category.html.twig'}) }}
                </nav>
        {% endblock %}
        {% block mainnavigation %}
            <div class="sidebar-header">
                <div class="sidebar-title">
                    Administration
                </div>
                <nav id="menu2" class="nav-main" role="navigation">
                    {{ knp_menu_render('PwdMgrAdminBundle:Main:mainMenu') }}
                </nav>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}


{% block body %}
    {% block bodyheader %}
        <header class="page-header">
            {% block headertitle %}{% endblock %}

            <div class="right-wrapper pull-right">
                {% block breadcrumb %}
                <ol class="breadcrumbs">
                    <li>
                        <a href="/">
                            <i class="fa fa-home"></i>
                        </a>
                    </li>
                </ol>
                {% endblock %}

                <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
            </div>
        </header>
    {% endblock %}

    {% block content %}{% endblock %}
    <script type="text/javascript">
        $(document).ready(function() {
            $(document).ajaxError(function (event, jqXHR) {
                if (403 === jqXHR.status) {
                    new PNotify({
                        type: 'error',
                        title: 'Error',
                        text: 'Your Session timed out<br />Redirecting to login in 3 seconds'
                    });
                    window.setTimeout(function(){
                        window.location.reload();
                    }, 3000);
                }
            });

            var $document, idleTime;
            $document = $(document);

            /*
            $(function() {
                //$.idleTimer( (10*60*1000) ); // 10 Minute Timeout
                $.idleTimer(5000);

                $document.on( 'idle.idleTimer', function() {
                    LockScreen.show();
                });
            });
            */
        });
    </script>
{% endblock %}
